<div class="card">
    <p-toast></p-toast>
    <p-confirmDialog 
        [style]="{width: '450px'}" 
        header="Confirmation" 
        icon="pi pi-exclamation-triangle"
        acceptLabel="Oui" 
        rejectLabel="Non"
        acceptButtonStyleClass="p-button-danger"
        rejectButtonStyleClass="p-button-secondary">
    </p-confirmDialog>
  
    <div class="card-content">
      <!-- Bouton pour ajouter une nouvelle compétence -->
      <p-button label="Ajouter une compétence" icon="pi pi-plus" severity="secondary" (click)="showAddDialog()"></p-button>
  
      <!-- Divider -->
      <div class="divider"></div>
  
      <!-- Liste des compétences -->
      <div class="list-container">
        <h3>Liste des Compétences</h3>
      </div>
  
      <p-table [value]="employeCompetences" [paginator]="true" [rows]="10" [responsive]="true" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Compétence</th>
            <th>Niveau</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-competence>
          <tr>
            <td>{{ competence.competence.nom }}</td>
            <td>{{ competence.niveau }}</td>
            <td>
              <button pButton icon="pi pi-pencil" class="p-button-text" severity="warn" [rounded]="true" (click)="showEditDialog(competence)"></button>
              <button pButton icon="pi pi-times" class="p-button-text" [rounded]="true" severity="danger"
                  (click)="confirmDelete(competence.id)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
  
      <p-dialog header="Ajouter une compétence" [(visible)]="addDialogVisible" [modal]="true" [closable]="false"
          [style]="{ width: '29rem',height:'35' }" [draggable]="false" [resizable]="false">
        <form [formGroup]="competenceForm" (ngSubmit)="addCompetence()">
          <div class="form-group">
            <label for="competenceId">Compétence</label>
            <p-dropdown
             id="competenceId" 
             formControlName="competenceId" 
             [options]="competencesDisponibles"
             optionLabel="nom" 
             [optionValue]="'id'" 
             placeholder="Sélectionner une compétence" 
             [showClear]="true"
             class="form-control">
            </p-dropdown>
          </div>
  
          <div class="form-group">
            <label for="niveau">Niveau</label>
            <input id="niveau" formControlName="niveau" pInputText placeholder="Entrez le niveau" />
          </div>
  
          <div class="form-actions">
            <button type="button" pButton label="Annuler" icon="pi pi-times" class="p-button-text" severity="danger"
                (click)="addDialogVisible = false"></button>
            <button type="submit" pButton label="Ajouter" icon="pi pi-check"class="p-button-text" severity="contrast"
                [disabled]="competenceForm.invalid"></button>
          </div>
        </form>
      </p-dialog>
  
      <p-dialog header="Modifier la compétence" [(visible)]="editDialogVisible" [modal]="true" [closable]="false"
          [style]="{ width: '25rem' }" [draggable]="false" [resizable]="false">
        <form [formGroup]="editCompetenceForm" (ngSubmit)="updateNiveau()">
          <div class="form-group">
            <label for="niveau">Niveau</label>
            <input id="niveau" formControlName="niveau" pInputText placeholder="Entrez le niveau" />
          </div>
  
          <div class="form-actions">
            <button type="button" pButton label="Annuler" icon="pi pi-times" class="p-button-text" severity="danger"
                (click)="editDialogVisible = false"></button>
            <button type="submit" pButton label="Mettre à jour" icon="pi pi-check" class="p-button-text" severity="contrast"
                [disabled]="editCompetenceForm.invalid"></button>
          </div>
        </form>
      </p-dialog>
    </div>
  </div>